* {
    box-sizing: border-box;
}

.i {
    font-style: italic;
}
.b {
    font-weight: 900;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;

}

.pointless:hover {
    border: purple dashed 1px;
}

header {
    margin: 25px 0px;
    width: 50%;
    min-height: 50px;
    min-width: 200px;
    border: red 15px;
    border-style: inset dotted double outset;
    text-align: center;
    padding: 10px;
    background-color: yellow;
    font-family: "Comic Sans MS", "Comic Sans", cursive;;
}

#title {
    display: block;
}

#borger {
    display: flex;
    width: 80vw;
    justify-content: center;
}

#gib {
    position: absolute;
    top: 10%;
    left: 25%;
    display: none;
}

.borger {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: bisque;
}

.choice {
    padding: 10px;
    margin: 10px;
    background-color: yellow;
    font-size: 31px;

}
.choice:hover {
    background-color: peru;
}

#salami {
    display: flex;
    flex-direction: column;
}

.headline {
    display: flex;
    justify-content: space-around;
}

#temmy {
    transform: scaleX(-1);
    width: 150px;
}

#tem-quote {
    background-color: aqua;
    padding: 19px;
    font-size: 27px;
}


#oops-img {
    display: none;
}
#oops-img-two {
    display: none;
}
#true-img {
    display: none;
    position: relative;

}

aside {
    margin-top: 50px;
    padding-top: 50px;
}

#salami-title {
    font-family: Trebuchet MS;
    font-size: 2.5rem;
    text-decoration: wavy;
}

#salami-advice {
    font-size: 36px;
}

#latin {
    font-size: 24px;
}

#salt-loops {
    float: right;
    width: 80%;
    max-height: 369px;
}
